@import "mixvariables.scss";
#home{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s ease-in;
    p{
        color: rgba(255,255,255,0.7);
        font-size: 30px;
        font-family: $nanum;
        letter-spacing: 5px;
    }
    .cart_wrap{
        width: 70%;
        height: 75%;
        transition: border 0.5s ease-in;
        border-left: 0;
        border-bottom: 0;
        transition: all 0.5s ease-in;
        &.grow_up{
            border-left: 10px solid rgba(255,255,255,0.7);
            border-bottom: 10px solid rgba(255,255,255,0.7);
        }
        #myChart{
            transition: all 0.5s ease-in;
        }
    }


}

#chartjs-tooltip{
    tr{
        color: white;
    }
}