@import "mixvariables.scss";

.main_cover{
    font-family: $nanum;
    position: absolute;
    text-align: center;
    font-size: 30px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.7);
    transition: flex 0.3s ease-in;
    h3{
        transition: all 0.3s ease-in;
        word-spacing: 100%;
        line-height: 1.5;
    }
    p{
        transition: all 0.5s ease-in;
        font-weight: 600;
        font-size: 45px;
        height: 80px;
        margin-top: 80px;
    }
    span{
        color:rgba(255,255,255,0.9);
        font-family: 'Nanum Gothic', sans-serif;
    }
}