@import "mixvariables.scss";
#project_detail{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100vh - 129px);
    color: rgba(255,255,255,0.7);
    .detail_project_wrap{
        padding-left: 100px;
        margin: 100px 200px;
        display: flex;
        column-gap: 100px;
        .detail_left{
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            row-gap: 30px;
            .detail_logo{
                width: 200px;
                background-color: rgba(255,255,255);
                padding: 10px;
                border-radius: 100px;
                text-align: center;
                display: flex;
                justify-content: center;
            }
            .detail_gif{
                img{
                    width: 300px;
                    border-radius: 16px;
                }
                .pc_gif{
                    width: 500px;
                }
            }

        }
        .detail_right{
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                white-space: nowrap;
                line-height: 1.8;
                font-family: $nanum;
                font-size: 22px;
                span{
                    font-size: 25px;
                    padding-left: 20px;
                    font-family: $noto;
                    font-weight: 600;
                    color: white;
                }
                &:last-child{
                    margin-top: 30px;
                    padding: 10px 30px;
                    border: 2px solid rgba(255,255,255,0.7);
                    background-color: rgb(53, 53, 53);
                    border-radius: 100px;
                    a{
                        color: white;
                        font-size: 25px;
                        font-family: $noto;
                        font-weight: 600;
                    }
                }
                .fa-regular.fa-keyboard{
                    margin-left: 150px;
                    margin-right: 10px;
                }
            }
        }
        .go_to_project_list{
            height: 50px;
            text-align: center;
            img{
                width: 120px;
            }
            p{
                white-space: nowrap;
                opacity: 0;
                line-height: 2;
                color: white;
                font-weight: 600;
            }
            &:hover p{
                opacity: 1;
            }
        }
    }
}